<p-growl [value]="msgs" ></p-growl>

<div class="ui-g">
  <div class="ui-g-2">
    <p-panel>
      <p-header>
        <h3>数据库表</h3>
      </p-header>
      <button pButton type="button" icon="fa-plus" label="新增" class="ui-button-info" (click)="dialog(false)"></button>
      <button pButton type="button" icon="fa-edit" label="编辑" class="ui-button-success" (click)="dialog(true)"></button>
      <button pButton type="button" icon="fa-trash-o" label="删除" class="ui-button-danger" (click)="deleteNode()"></button>
      <!-- 搜索框 -->
      <div class="ui-inputgroup"
           style="margin-top: 10px;margin-bottom:10px">
        <input type="text"
               style="width: 200px"
               pInputText placeholder="请输入表名" [(ngModel)]="searchconditon" >
        <button pButton type="button" icon="fa-superpowers" class="ui-button-secondary" (click)="onsearchconditon()"></button>
      </div>
      <div>
        <p-tree class="ui-fluid" [value]="tabledatatree"
                [style]="{'height':'700px'}"
                selectionMode="single"
                [(selection)]="selectedTabledataClass"
                (onNodeExpand)="onNodeExpand($event)"
                (onNodeSelect)="onNodeSelect($event)">
        </p-tree>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-10">
    <p-panel>
      <p-header>
        <h3>表字段定义列表</h3>
      </p-header>
      <button pButton type="button" icon="fa-plus" label="新增" class="ui-button-info" (click)="dialogDetail(false)"></button>
      <button pButton type="button" icon="fa-edit" label="编辑" class="ui-button-success" (click)="dialogDetail(true)"></button>
      <button pButton type="button" icon="fa-trash-o" label="删除" class="ui-button-danger" (click)="deleteDetail()"></button>
      <div style="margin-top: 10px">
        <p-dataTable [value]="tabledatadetails"
                     [(selection)]="selectTableDataDetails"
                     [rows]="10"
                     [paginator]="true"
                     [pageLinks]="5"
                     [rowsPerPageOptions]="[10,20,30]"
                     [totalRecords]="tabledatadetails.length"
                     dataKey="id"
                     [headerCheckboxToggleAllPages]="true"
                     [emptyMessage]="'没有数据'">
          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
          <p-column [style]="{'width':'10%'}" field="metaCode" header="标识符" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'8%'}" field="metaName" header="名称" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'10%'}" field="fieldName" header="字段名" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'50px'}" field="symbolCode" header="数据格式" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'70px'}" field="dataformat" header="表示格式" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'50px'}" field="primaryKey" header="是否主键" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'50px'}" field="required" header="是否必填" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'50px'}" field="foreignKey" header="是否外键" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'8%'}" field="foreignTableName" header="关联外键表" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'8%'}" field="foreignColumnName" header="关联外键列" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'8%'}" field="selfDefinedRule" header="自定义规则" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'70px'}" field="pym" header="拼音码" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'70px'}" field="wbm" header="五笔码" [style]="{'text-align':'center'}"></p-column>
          <p-column field="standardCode" header="标准编码" [style]="{'text-align':'center'}"></p-column>
          <p-column field="dataSource" header="数据来源说明" [style]="{'text-align':'center'}"></p-column>
          <p-column [style]="{'width':'8%'}" field="updateTime" header="更新时间" [style]="{'text-align':'center'}"></p-column>
        </p-dataTable>
      </div>
    </p-panel>
  </div>
</div>

<p-dialog [(header)]="header" [(visible)]="displayDialog"
          [responsive]="true" showEffect="fade" [modal]="true"
          [width]="400" [height]="400"
          (onHide)="onHide($event)">
  <form [formGroup]="tabledataclassForm" >
    <!--(ngSubmit)="onSubmit(tabledataclassForm.value)"-->
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label>
            表分类：
          </label>
        </div>
        <div class="ui-grid-col-9">
          <p-dropdown formControlName="parentId"
                      [options]="tabledataparent"
                      [autoDisplayFirst]=false
                      showClear="true"
                      [style]="{'width':'90%'}"  [filter]="true"
                      [scrollHeight]="400"
                      [(ngModel)]="tabledataclasstemp.parentId">
            <ng-template let-tabledata pTemplate="selectedItem">
              <img src="" style="width:16px;vertical-align:middle" />
              <span style="vertical-align:middle">{{tabledata.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label>
            表名编码：
          </label>
        </div>
        <div class="ui-grid-col-9">
          <input pInputText type="hidden" formControlName="id" [(ngModel)]="tabledataclasstemp.id" />
          <input pInputText formControlName="typeCode" style="width: 90%;"
                 [(ngModel)]="tabledataclasstemp.typeCode" placeholder="必填">
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label>
            表名：
          </label>
        </div>
        <div class="ui-grid-col-9">
          <input pInputText style="width: 90%;"
                 formControlName="typeName" [(ngModel)]="tabledataclasstemp.typeName" placeholder="必填"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label>
            表描述：
          </label>
        </div>
        <div class="ui-grid-col-9">
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="memo" [(ngModel)]="tabledataclasstemp.memo"></textarea>
        </div>
      </div>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="cancel()" label="取消"></button>
      <button type="button" pButton icon="fa-check" [disabled]="!tabledataclassForm.valid" (click)="save()" label="保存"></button>
    </div>
  </form>
</p-dialog>

<p-confirmDialog header="删除确认"
                 [acceptLabel]="'是'"  [rejectLabel]="'否'"
                 icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-dialog [(header)]="header" [(visible)]="displayDetailDialog"
          [responsive]="true" showEffect="fade" [modal]="true"
          [width]="800" [height]="400"
          (onHide)="onHide($event)">
  <form [formGroup]="tabledataDetailForm">
    <!--(ngSubmit)="onSubmit(tabledataDetailForm.value)"-->
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>
            标识符：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText type="hidden" formControlName="id" [(ngModel)]="tabledatadetailtemp.id" />
          <input pInputText formControlName="metaCode" [(ngModel)]="tabledatadetailtemp.metaCode" placeholder="必填"/>
        </div>
        <div class="ui-grid-col-2">
          <label>
            名称：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="metaName" [(ngModel)]="tabledatadetailtemp.metaName" placeholder="必填"/>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>
            字段名：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="fieldName" [(ngModel)]="tabledatadetailtemp.fieldName" placeholder="必填"/>
        </div>
        <div class="ui-grid-col-2">
          <label>
            数据类型：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="symbolCode" [(ngModel)]="tabledatadetailtemp.symbolCode" placeholder="必填"/>
        </div>
        <!--<div class="ui-grid-col-4">-->
          <!--<p-dropdown formControlName="symbolCode"-->
                      <!--[options]="datatypedropdowns"-->
                      <!--[style]="{'width':'172px'}"-->
                      <!--[(ngModel)]="tabledatadetailtemp.symbolCode" >-->
          <!--</p-dropdown>-->
        <!--</div>-->
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>
            表示格式：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="dataformat" [(ngModel)]="tabledatadetailtemp.dataformat"  placeholder="必填"/>
        </div>
        <!--<div class="ui-grid-col-4">-->
          <!--<p-dropdown [options]="dataformat"-->
                      <!--formControlName="dataformat"-->
                      <!--[(ngModel)]="tabledatadetailtemp.dataformat"-->
                      <!--[style]="{'width':'172px'}"></p-dropdown>-->
        <!--</div>-->
        <div class="ui-grid-col-2">
          <label>
            是否主键：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <p-radioButton name="primaryKeygroup" formControlName="primaryKey" value="NO"
                         label="NO" [(ngModel)]="tabledatadetailtemp.primaryKey" ng-checked=true></p-radioButton>
          <p-radioButton name="primaryKeygroup" formControlName="primaryKey" value="YES"
                         label="YES" [(ngModel)]="tabledatadetailtemp.primaryKey"></p-radioButton>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>
            是否必填：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <p-radioButton name="requiredgroup" formControlName="required" value="NO"
                         label="NO" [(ngModel)]="tabledatadetailtemp.required" ng-checked="true"></p-radioButton>
          <p-radioButton name="requiredgroup" formControlName="required" value="YES"
                         label="YES" [(ngModel)]="tabledatadetailtemp.required"></p-radioButton>
        </div>
        <div class="ui-grid-col-2">
          <label>
            是否外键：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <p-radioButton name="foreignKeygroup" formControlName="foreignKey" value="NO"
                         label="NO" [(ngModel)]="tabledatadetailtemp.foreignKey"></p-radioButton>
          <p-radioButton name="foreignKeygroup" formControlName="foreignKey" value="YES"
                         label="YES" [(ngModel)]="tabledatadetailtemp.foreignKey"></p-radioButton>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>
            关联外键表：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="foreignTableName" [(ngModel)]="tabledatadetailtemp.foreignTableName"/>
        </div>
      <div class="ui-grid-col-2">
      <label>
        关联外键列：
      </label>
    </div>
    <div class="ui-grid-col-4">
      <input pInputText formControlName="foreignColumnName" [(ngModel)]="tabledatadetailtemp.foreignColumnName"/>
    </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>
            自定义规则：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="selfDefinedRule" [(ngModel)]="tabledatadetailtemp.selfDefinedRule"/>
        </div>
        <div class="ui-grid-col-2">
          <label>
            拼音码：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="pym" [(ngModel)]="tabledatadetailtemp.pym"/>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>
            五笔码：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="wbm" [(ngModel)]="tabledatadetailtemp.wbm"/>
        </div>
        <div class="ui-grid-col-2">
          <label>
            标准编码：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="standardCode" [(ngModel)]="tabledatadetailtemp.standardCode"/>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>
            数据来源说明：
          </label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText formControlName="dataSource" [(ngModel)]="tabledatadetailtemp.dataSource"/>
        </div>
      </div>

    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="cancel()" label="取消"></button>
      <button type="button" pButton icon="fa-check" [disabled]="!tabledataDetailForm.valid" (click)="saveDetail()" label="保存"></button>
    </div>
  </form>
</p-dialog>

