<p-growl [value]="msgs"></p-growl>
<p-confirmDialog header="删除确认"
                 [acceptLabel]="'是'"  [rejectLabel]="'否'"
                 icon="fa fa-question-circle" width="425"></p-confirmDialog>
  <div *ngIf="showgatewaylist">
    <p-card [style]="{'height':'800px'}">
        <div style="float:left;">
      <button pButton type="button" icon="fa fa-plus" label="新增" class="ui-button-info" (click)="dialog(false)"></button>
      <button pButton type="button" icon="fa-edit" label="修改" class="ui-button-success" (click)="dialog(true)"></button>
      <button pButton type="button" icon="fa-trash-o" label="删除" class="ui-button-danger" (click)="deleteNodeReg()"></button>
        </div>
        <div class="ui-inputgroup" style="margin-left: 80%;height: 30px" >
          <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
          <input type="text"  style="width: 200px"
                 pInputText placeholder="请输入节点名称进行查询" [(ngModel)]="searchconditon" >
          <button  pButton type="button" style="width: 60px;"  class="ui-button-info" (click)="searchnodereglistbyname()" label="查询"></button>
        </div>

      <p-treeTable [value]="nodereglist"
                   selectionMode="single"
                   (onRowDblclick)="dialog(true)"
                   [(selection)]="selectednodereg">
        <p-column header="节点名称" [style]="{'text-align':'left'}">
          <ng-template let-col let-node="rowData" pTemplate="body">
            <i class="fa fa-circle" aria-hidden="true" *ngIf="node.data.status=='online'" style="color: #289973"></i>
            <i class="fa fa-circle" aria-hidden="true" *ngIf="node.data.status=='offline'" style="color: #fc0a0a"></i>
            {{node.data.name}}
          </ng-template>
        </p-column>
        <p-column field="nodeId" header="节点ID"></p-column>
        <p-column field="ip" header="节点IP"></p-column>
        <p-column field="regOper" header="注册人"></p-column>
        <p-column field="regDate" header="注册日期"></p-column>
        <p-column field="versions" header="节点版本"></p-column>
        <p-column field="remark" header="备注"></p-column>
      </p-treeTable>
    </p-card>
  </div>
<div class="ui-g">
  <div class="ui-g-5" *ngIf="showgatewayregister" >
    <p-card>
    <form [formGroup]="gatewayForm" (ngSubmit)="onSubmit(gatewayForm.value)">
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-save" class="ui-button-success" [disabled]="!gatewayForm.valid" (click)="savereg()" label="保存"></button>
        <button type="button" pButton icon="fa fa-reply" (click)="returnlist()" label="返回"></button>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>节点ID：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="nodeId"
                   [(ngModel)]="gatewaynoderegtemp.nodeId" placeholder="必填"/>
          </div>
          <div class="ui-grid-col-5">
            <label>节点名称：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="name"
                   [(ngModel)]="gatewaynoderegtemp.name" placeholder="必填"/>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>节点地址：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="address" [(ngModel)]="gatewaynoderegtemp.address"/>
          </div>

          <div class="ui-grid-col-5">
            <label>上级节点：</label>
          </div>
          <div class="ui-grid-col-7">
            <p-dropdown formControlName="pid"
                        [options]="gatewayroots"
                        [autoDisplayFirst]=false
                        showClear="true"
                        [style]="{'width':'100%'}"  [filter]="true"
                        [scrollHeight]="400"
                        [(ngModel)]="gatewaynoderegtemp.pid">
            </p-dropdown>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>节点IP：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="ip" [(ngModel)]="gatewaynoderegtemp.ip" />
          </div>
          <div class="ui-grid-col-5">
            <label>节点版本：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="versions" [(ngModel)]="gatewaynoderegtemp.versions" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>操作系统用户名：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="winUser" [(ngModel)]="gatewaynoderegtemp.winUser" />
          </div>
          <div class="ui-grid-col-5">
            <label>操作系统密码：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="winPass" [(ngModel)]="gatewaynoderegtemp.winPass" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>注册人：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="regOper" [(ngModel)]="gatewaynoderegtemp.regOper"/>
          </div>
          <div class="ui-grid-col-5">
            <label>注册日期：</label>
          </div>
          <div class="ui-grid-col-7">
            <p-calendar [(ngModel)]="gatewaynoderegtemp.regDate" formControlName="regDate"
                        [locale]="cn" dateFormat="yy-mm-dd" showIcon=true readonlyInput=true monthNavigator=true yearNavigator=true yearRange='2000:2050' utc=true
                        showButtonBar="true"></p-calendar>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>联系人：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="conName" [(ngModel)]="gatewaynoderegtemp.conName"/>
          </div>
          <div class="ui-grid-col-5">
            <label>联系电话：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="conPhone" [(ngModel)]="gatewaynoderegtemp.conPhone"/>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>联系人EMAIL：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="conEmail" [(ngModel)]="gatewaynoderegtemp.conEmail"/>
          </div>
          <div class="ui-grid-col-5">
            <label>联系人QQ：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="conQq" [(ngModel)]="gatewaynoderegtemp.conQq"/>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>JMS服务器IP：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="jmsIp" [(ngModel)]="gatewaynoderegtemp.jmsIp"/>
          </div>
          <div class="ui-grid-col-5">
            <label>JMS服务器端口：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="jmsPort" [(ngModel)]="gatewaynoderegtemp.jmsPort"/>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>JMS用户名：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="jmsUsername" [(ngModel)]="gatewaynoderegtemp.jmsUsername"/>
          </div>
          <div class="ui-grid-col-5">
            <label>JMS密码：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="jmsPassword" [(ngModel)]="gatewaynoderegtemp.jmsPassword"/>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>安装人：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="intallor" [(ngModel)]="gatewaynoderegtemp.intallor"/>
          </div>
          <div class="ui-grid-col-5">
            <label>安装盘符：</label>
          </div>
          <div class="ui-grid-col-7">
            <input pInputText formControlName="installDriver" [(ngModel)]="gatewaynoderegtemp.installDriver"/>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>安装日期：</label>
          </div>
          <div class="ui-grid-col-7">
            <p-calendar [(ngModel)]="gatewaynoderegtemp.installDate" formControlName="installDate"
                        [locale]="cn" dateFormat="yy-mm-dd" showIcon=true readonlyInput=true monthNavigator=true yearNavigator=true yearRange='2000:2050' utc=true
                        showButtonBar="true"></p-calendar>
          </div>
          <div class="ui-grid-col-12"></div>
        </div>
            <input pInputText type="hidden" formControlName="creator" [(ngModel)]="gatewaynoderegtemp.creator" placeholder="必填"/>
            <input pInputText type="hidden" formControlName="modifor" [(ngModel)]="gatewaynoderegtemp.modifor" />
            <input pInputText type="hidden" formControlName="createTime" [(ngModel)]="gatewaynoderegtemp.createTime" />
        <div class="ui-grid-row">
          <div class="ui-grid-col-5">
            <label>发送数据质量报告的邮件列表：</label>
          </div>
          <div class="ui-grid-col-7">
          <textarea [rows]="5"   pInputTextarea autoResize="autoResize"
                    formControlName="reportEmailList"
                    [(ngModel)]="gatewaynoderegtemp.reportEmailList" placeholder="需要发送质量报告的邮箱列表(多个邮箱使用英文分号;分隔)"></textarea>
          </div>
          <div class="ui-grid-col-5">
            <label>备注：</label>
          </div>
          <div class="ui-grid-col-7">
          <textarea [rows]="5"  pInputTextarea autoResize="autoResize"
                    formControlName="remark"
                    [(ngModel)]="gatewaynoderegtemp.remark"></textarea>
          </div>
        </div>
      </div>
    </form>
    </p-card>
  </div>

  <div class="ui-g-7" *ngIf="showgatewaynodedb">
    <p-card>
      <div *ngIf="databaselist">
        <button pButton type="button" icon="fa-plus" label="新增" class="ui-button-info"
                (click)="dialognodedb(false)"></button>
        <button pButton type="button" icon="fa-edit" label="修改" class="ui-button-success"
                (click)="dialognodedb(true)"></button>
        <button pButton type="button" icon="fa-trash-o" label="删除" class="ui-button-danger"
                (click)="delnodedb()"></button>
        <button pButton type="button" icon="fa fa-pie-chart" label="表信息" class="ui-button-success" (click)="dialogdbtable()"></button>
        <p-table [value]="nodedblist"
                 [rows]="10"
                 [style]="{'margin-top':'10px'}"
                 [paginator]="true"
                 [pageLinks]="5"
                 [(selection)]="selectnodedb"
                 [dataKey]="id"
                 selectionMode="single"
                 [rowsPerPageOptions]="[10,20,30]"  #te>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5%">序号</th>
              <th>数据库连接名</th>
              <th>IP</th>
              <th>端口</th>
              <th>数据库类型</th>
              <th>访问方式</th>
              <th>数据库名</th>
              <th>用户名</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-nodedb let-rowIndex="rowIndex">
            <tr [pSelectableRow]="nodedb">
              <td>{{rowIndex+1}}</td>
              <td>{{nodedb.connName}}</td>
              <td>{{nodedb.ip}}</td>
              <td>{{nodedb.port}}</td>
              <td>{{nodedb.dbType}}</td>
              <td>{{nodedb.accessType}}</td>
              <td>{{nodedb.dbName}}</td>
              <td>{{nodedb.userName}}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
            总共{{nodedblist.length}}条记录
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="8">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div *ngIf="databasemodify">
          <form [formGroup]="nodedbForm" (ngSubmit)="onSubmit(nodedbForm.value)">
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa-save" class="ui-button-success" [disabled]="!nodedbForm.valid" (click)="savenodedb()" label="保存"></button>
              <button type="button" pButton icon="fa fa-reply"  (click)="returndialogdatabase()" label="返回"></button>
              <button type="button" pButton icon="fa-chain" (click)="dialogtest()" label="测试连接"></button>
            </div>
            <input pInputText type="hidden" formControlName="creator" [(ngModel)]="nodedbtemp.creator"/>
            <input pInputText type="hidden" formControlName="modifor" [(ngModel)]="nodedbtemp.modifor"/>
            <input pInputText type="hidden" formControlName="nodeId" [(ngModel)]="nodedbtemp.parent.nodeId"/>
            <input pInputText type="hidden" formControlName="id" [(ngModel)]="nodedbtemp.id"/>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>数据连接名：</label>
                </div>
                <div class="ui-grid-col-3">
                  <input pInputText formControlName="connName" [(ngModel)]="nodedbtemp.connName" placeholder="必填"/>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>IP：</label>
                </div>
                <div class="ui-grid-col-3">
                  <input pInputText formControlName="ip" [(ngModel)]="nodedbtemp.ip" placeholder="必填"/>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>端口：</label>
                </div>
                <div class="ui-grid-col-3">
                  <input pInputText formControlName="port" [(ngModel)]="nodedbtemp.port" placeholder="必填"/>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>数据库类型：</label>
                </div>
                <div class="ui-grid-col-3">
                  <p-dropdown formControlName="dbType"
                              [options]="dbTypes"
                              [style]="{'width':'100%'}"
                              [scrollHeight]="400"
                              placeholder="请选择(必选)"
                              required="true"
                              [(ngModel)]="nodedbtemp.dbType">
                  </p-dropdown>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>访问方式：</label>
                </div>
                <div class="ui-grid-col-3">
                  <p-dropdown formControlName="accessType"
                              [options]="accessTypes"
                              [style]="{'width':'100%'}"
                              [scrollHeight]="400"
                              placeholder="请选择(必选)"
                              required="true"
                              [(ngModel)]="nodedbtemp.accessType">
                  </p-dropdown>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>数据库名：</label>
                </div>
                <div class="ui-grid-col-3">
                  <input pInputText formControlName="dbName" [(ngModel)]="nodedbtemp.dbName" placeholder="必填"/>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>用户名：</label>
                </div>
                <div class="ui-grid-col-3">
                  <input pInputText formControlName="userName" [(ngModel)]="nodedbtemp.userName" placeholder="必填"/>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>用户密码：</label>
                </div>
                <div class="ui-grid-col-3">
                  <input pInputText formControlName="password" [(ngModel)]="nodedbtemp.password" />
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label>备注：</label>
                </div>
                <div class="ui-grid-col-3">
                  <textarea [rows]="5" [cols]="28" pInputTextarea autoResize="autoResize"
                            formControlName="remark"
                            [(ngModel)]="nodedbtemp.remark"></textarea>
                </div>
              </div>
            </div>
          </form>
      </div>

      <div *ngIf="databasetable">
        <button type="button" pButton icon="fa fa-reply"  (click)="returndialogdatabase()" label="返回"></button>
        <button type="button" pButton icon="fa fa-reply"  (click)="returndialogdatabase()" label="返回"></button>
        <button type="button" pButton icon="fa fa-reply"  (click)="returndialogdatabase()" label="返回"></button>
        <p-table [value]="nodetables"
                 [style]="{'margin-top':'10px'}"
                 [rows]="10"
                 [pageLinks]="5"
                 [paginator]="true"
                 [dataKey]="id"
                 selectionMode="single"
                 [rowsPerPageOptions]="[10,20,30]"
                 [(selection)]="nodetable">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5%">序号</th>
              <th>表名</th>
              <th>表描述</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-desc let-rowIndex="rowIndex">
            <tr [pSelectableRow]="desc">
              <td>{{rowIndex+1}}</td>
              <td>{{desc.tablecode}}</td>
              <td>{{desc.tabledesc}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="3">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
</div>
<p-dialog [(visible)]="displaymessage"
          [header]="'消息列表'"
          [height]="300"
          modal=true
          [width]="300">
  <p-table [value]="nodetables">
      <ng-template pTemplate="header">
        <tr>
          <th>收到时间</th>
          <th>节点名称</th>
          <th>消息文本</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-desc >
        <tr [pSelectableRow]="desc">
          <td>{{desc}}</td>
          <td>{{desc}}</td>
          <td>{{desc}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="3">
            没有数据
          </td>
        </tr>
      </ng-template>
    </p-table>
</p-dialog>
