<p-growl [value]="msgs"></p-growl>
<p-confirmDialog [acceptLabel]="'是'" [rejectLabel]="'否'"></p-confirmDialog>

<p-tabView>
  <p-tabPanel header="基础字典编码"  >
    <ng-template pTemplate="content">
      <div class="ui-g">
        <div class="ui-g-6">
          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
              <input #gd type="text" pInputText placeholder="根据标准代码查询" [(ngModel)]="Basedatadescribe.basedataCode">
              <button pButton type="button" icon="fa-search" label="查询" (click)="loadBaseDecribeListLazy()"></button>
            </div>
          </p-toolbar>
          <p-table [value]="basedatadescribes"
                   [rows]="20"
                   (onRowSelect)="onRowSelect2($event)"
                   [paginator]="true"
                   [pageLinks]="5"
                   [dataKey]="id"
                   [lazy]="true"
                   [autoLayout]=true
                   [totalRecords]="basedatadescribetotalnumber"
                   (onLazyLoad)="loadBaseDecribeListLazy($event)"
                   selectionMode="single">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:2%">序号</th>
                <th style="width:4%">标准代码</th>
                <th style="width:4%">标准代码名称</th>
                <th style="width:4%">修改描述</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-medic let-rowIndex="rowIndex">
              <tr [pSelectableRow]="medic">
                <td>{{rowIndex+1}}</td>
                <td>{{medic.basedataCode}}</td>
                <td>{{medic.basedataName}}</td>
                <td>{{medic.describe}}</td>
              </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
              总共{{basedatadescribetotalnumber}}条记录
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="4">
                  没有数据
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="ui-g-6">
          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
              <input  type="text" pInputText placeholder="类别查询条件" (input)="bi.filterGlobal($event.target.value, 'contains')">
              <button pButton type="button" icon="fa-search" label="查询" ></button>
            </div>
          </p-toolbar>
          <p-table #bi [value]="basedatainfos"
                   [rows]="20"
                   [paginator]="true"
                   [pageLinks]="5"
                   [autoLayout]=true
                   [dataKey]="id"
                   [globalFilterFields]="['itemName']"
                   [totalRecords]="Basedatainfototalnumber"
                   selectionMode="single">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:2%">序号</th>
                <th style="width:4%">项目名称</th>
                <th style="width:4%">项目代码</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-medic let-rowIndex="rowIndex">
              <tr [pSelectableRow]="medic">
                <td>{{rowIndex+1}}</td>
                <td>{{medic.itemName}}</td>
                <td>{{medic.itemCode}}</td>
              </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
              总共{{Basedatainfototalnumber}}条记录
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="3">
                  没有数据
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="药品编码" [selected]="true">
    <ng-template pTemplate="content">
      <p-toolbar >
        <div class="ui-toolbar-group-left">
          <button pButton type="button" icon="fa-download" label="下载excel模板" (click)="downloadmedic()"></button>

          <!--是否开启自动上传 auto="true"-->
          &nbsp;&nbsp;
          匹配条件：
          <p-multiSelect [options]="medicconditons"
                         [(ngModel)]="medicconditonsvalues"
                         [filter]=fasle
                         defaultLabel="请选择"
                         maxSelectedLabels="4"
                         [style]="{'width':'300px'}">
          </p-multiSelect>
          <button pButton type="button" icon="fa-search" label="按条件匹配" (click)="medicmatchbyconditon()"></button>
          <button pButton type="button" icon="fa-save" label="保存匹配关系" (click)="savemediccheckcode()"></button>
        </div>
        <div class="ui-toolbar-group-right">
          匹配情况:
          <p-dropdown [options]="medicHospitalconditons"
                      [(ngModel)]="(MedicHospital||{}).condition" [style]="{'width':'150px'}"></p-dropdown>
          <button pButton type="button" icon="fa-search" label="查询"  (click)="loadMedicHospitalListLazy()"></button>
        </div>
      </p-toolbar>
      <p-fileUpload name="file"  [maxFileSize]="20480" chooseLabel="导入文件" uploadLabel="上传"
                    (onUpload)="onUpload($event)" (onProgress)="onProgress()" (onError)="onError($event)"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    [showUploadButton]="uploadflag"  [showCancelButton]=false
                    url="./api/agent/upload/ypbm"></p-fileUpload>
      <!--<p-fileUpload name="file"  maxFileSize="20480" chooseLabel="导入文件" uploadLabel="上传"-->
                    <!--(onUpload)="onUpload($event)" (onProgress)="onProgress()" mode="basic" [disabled]="uploadflag"-->
                    <!--accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"-->
                    <!--[showUploadButton]="uploadflag"-->
                    <!--url="./api/agent/upload/ypbm"></p-fileUpload>-->
      <div class="ui-g">
        <div class="ui-g-6">
          <p-toolbar >
          <div style="text-align: center">平台药品字典</div>
          </p-toolbar >
        <p-table [value]="mediclist"
                 [rows]="20"
                 [paginator]="true"
                 [pageLinks]="5"
                 [dataKey]="mediid"
                 [lazy]="true"
                 [autoLayout]=true
                 (onRowSelect)="selectmedicfunc($event)"
                 [(selection)]="selectmedic"
                 [totalRecords]="medictotalnumber"
                 (onLazyLoad)="loadMedicListLazy($event)"
                 selectionMode="single">
          <!--[rowsPerPageOptions]="[10,15,25]"  [scrollable]="true" scrollHeight="500px"   autoLayout="true" -->
          <ng-template pTemplate="header">
            <tr>
              <th style="width:4%">序号</th>
              <th style="width:7%">药品编码</th>
              <th style="width:7%">药品通用名</th>
              <th style="width:7%">商品名</th>
              <th style="width:7%">国药准字号</th>
              <th style="width:7%">生产企业</th>
              <th style="width:7%">规格</th>
              <th style="width:7%">规格单位</th>
              <th style="width:20%">规格拆分系数</th>
              <th style="width:20%">包装单位</th>
              <th style="width:7%">药品类型</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-medic let-rowIndex="rowIndex">
            <tr [pSelectableRow]="medic">
              <td>{{rowIndex+1}}</td>
              <td>{{medic.medicode}}</td>
              <td>{{medic.mediname}}</td>
              <td>{{medic.goodsname}}</td>
              <td>{{medic.approvenum}}</td>
              <td>{{medic.productenterprisename}}</td>
              <td>{{medic.std}}</td>
              <td>{{medic.stdunit}}</td>
              <td>{{medic.stdsplitcoefficient}}</td>
              <td>{{medic.medipackingunit}}</td>
              <td [ngSwitch]="medic.meditype">
                <div *ngSwitchCase="1">化学药</div>
                <div *ngSwitchCase="2">生物制剂</div>
                <div *ngSwitchCase="3">中成药</div>
                <div *ngSwitchCase="4">中药材</div>
                <div *ngSwitchCase="5">中药饮片</div>
                <div *ngSwitchCase="6">中药配方颗粒</div>
                <div *ngSwitchCase="7">中药超微饮片</div>
                <div *ngSwitchCase="8">中药超微配方颗粒</div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
            总共{{medictotalnumber}}条记录
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="11">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>
        <div class="ui-g-6">
          <p-toolbar >
          <div style="text-align: center">医院药品字典</div>
          </p-toolbar>
          <p-table [value]="MedicHospitalList"
                   [rows]="20"
                   [paginator]="true"
                   [pageLinks]="5"
                   [dataKey]="mediid"
                   [lazy]="true"
                   [autoLayout]=true
                   [(selection)]="selectmedicHospital"
                   (onRowSelect)="selecthospitalmedic($event)"
                   [totalRecords]="medicHospitaltotalnumber"
                   (onLazyLoad)="loadMedicHospitalListLazy($event)"
                   [(selection)]="MedicHospital"
                   selectionMode="single">
            <!--[rowsPerPageOptions]="[10,15,25]"  [scrollable]="true" scrollHeight="500px"   autoLayout="true" -->
            <ng-template pTemplate="header">
              <tr>
                <th style="width:4%">序号</th>
                <th style="width:7%">平台药品编码</th>
                <th style="width:7%">药品编码</th>
                <th style="width:7%">药品通用名</th>
                <th style="width:7%">商品名</th>
                <th style="width:7%">国药准字号</th>
                <th style="width:7%">生产企业编码</th>
                <th style="width:5%">生产企业</th>
                <th style="width:7%">规格</th>
                <th style="width:5%">包装单位</th>
                <th style="width:7%">差异备注</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-medic let-rowIndex="rowIndex">
              <tr [pSelectableRow]="medic">
                <td>{{rowIndex+1}}</td>
                <td>{{(medic.medic||{}).medicode}}</td>
                <td>{{medic.medicode}}</td>
                <td>{{medic.mediname}}</td>
                <td>{{medic.goodsname}}</td>
                <td>{{medic.approvenum}}</td>
                <td>{{medic.productenterprisecode}}</td>
                <td>{{medic.productenterprisename}}</td>
                <td>{{medic.std}}</td>
                <td>{{medic.medipackingunit}}</td>
                <td>{{medic.discrepancy_remark}}</td>
              </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
              总共{{medicHospitaltotalnumber}}条记录
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="11">
                  没有数据
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="疾病编码" >
    <ng-template pTemplate="content">
      <p-toolbar >
        <div class="ui-toolbar-group-left">
          <button pButton type="button" icon="fa-download" label="下载excel模板" (click)="downloadicd()"></button>
          <!--<p-fileUpload name="file" mode="basic" auto="true" maxFileSize="20480" chooseLabel="导入文件"-->
                        <!--(onUpload)="onUpload($event)"-->
                        <!--accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"-->
                        <!--url="./api/agent/upload/jbbm"></p-fileUpload>-->
          &nbsp;&nbsp;
          匹配条件：
          <p-multiSelect [options]="icdconditons"
                         [(ngModel)]="icdconditonsvalues"
                         [filter]=fasle
                         defaultLabel="请选择"
                         maxSelectedLabels="4"
                         [style]="{'width':'250px'}">
          </p-multiSelect>
          <button pButton type="button" icon="fa-search" label="按条件匹配" ></button>
          <button pButton type="button" icon="fa-save" label="保存匹配关系" (click)="saveicdcheckcode()"></button>
        </div>
        <div class="ui-toolbar-group-right">
          匹配情况:
          <p-dropdown [options]="medicHospitalconditons"
                      [(ngModel)]="(IcdHospital||{}).condition" [style]="{'width':'150px'}"></p-dropdown>
          <button pButton type="button" icon="fa-search" label="查询"  (click)="loadicdHospitalListLazy()"></button>
        </div>
      </p-toolbar>
      <p-fileUpload name="file"  maxFileSize="20480" chooseLabel="导入文件" uploadLabel="上传"
                    (onUpload)="onUploadIcd($event)" (onProgress)="onProgress()" (onError)="onError($event)"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    [showUploadButton]="uploadflag"  [showCancelButton]=false
                    url="./api/agent/upload/jbbm"></p-fileUpload>
      <div class="ng-g">
      <div class="ui-g-6">
        <p-toolbar >
          <div style="text-align: center">平台疾病字典</div>
        </p-toolbar >
        <p-table [value]="icdlist"
                 [rows]="20"
                 [paginator]="true"
                 [pageLinks]="5"
                 [dataKey]="id"
                 [autoLayout]=true
                 [lazy]="true"
                 (onRowSelect)="selecticdfunc($event)"
                 [(selection)]="selecticd"
                 [totalRecords]="icdtotalnumber"
                 (onLazyLoad)="loadicdListLazy($event)"
                 selectionMode="single">
          <!--[rowsPerPageOptions]="[10,15,25]"  [scrollable]="true" scrollHeight="500px"   autoLayout="true" -->
          <ng-template pTemplate="header">
            <tr>
              <th style="width:1.5%">序号</th>
              <th style="width:4%">疾病编码</th>
              <th style="width:4%">疾病名称</th>
              <th style="width:4%">疾病类别</th>
              <th style="width:4%">性别限制</th>
              <th style="width:4%">疗效限制</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-icd let-rowIndex="rowIndex">
            <tr [pSelectableRow]="icd">
              <td>{{rowIndex+1}}</td>
              <td>{{icd.icdcode}}</td>
              <td>{{icd.icdname}}</td>
              <td [ngSwitch]="icd.typecode">
                <div *ngSwitchCase="1">国际</div>
                <div *ngSwitchCase="2">中医</div>
              </td>
              <td>{{icd.sexlimit}}</td>
              <td>{{icd.efficacylimit}}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
            总共{{icdtotalnumber}}条记录
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="6">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="ui-g-6">
        <p-toolbar >
          <div style="text-align: center">医院疾病字典</div>
        </p-toolbar >
        <p-table [value]="IcdHospitalList"
                 [rows]="20"
                 [paginator]="true"
                 [pageLinks]="5"
                 [dataKey]="id"
                 [autoLayout]=true
                 [lazy]="true"
                 [totalRecords]="icdHospitaltotalnumber"
                 [(selection)]="selecticdHospital"
                 (onRowSelect)="selecthospitalicd($event)"
                 (onLazyLoad)="loadicdHospitalListLazy($event)"
                 selectionMode="single">
          <!--[rowsPerPageOptions]="[10,15,25]"  [scrollable]="true" scrollHeight="500px"   autoLayout="true" -->
          <ng-template pTemplate="header">
            <tr>
              <th style="width:1.5%">序号</th>
              <th style="width:4%">平台疾病编码</th>
              <th style="width:4%">疾病编码</th>
              <th style="width:4%">疾病名称</th>
              <th style="width:4%">疾病类别</th>
              <th style="width:4%">性别限制</th>
              <th style="width:4%">疗效限制</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-icdhospital let-rowIndex="rowIndex">
            <tr [pSelectableRow]="icdhospital">
              <td>{{rowIndex+1}}</td>
              <td>{{(icdhospital.icd||{}).icdcode}}</td>
              <td>{{icdhospital.icdcode}}</td>
              <td>{{icdhospital.icdname}}</td>
              <td [ngSwitch]="icdhospital.typecode">
                <div *ngSwitchCase="1">国际</div>
                <div *ngSwitchCase="2">中医</div>
              </td>
              <td>{{icdhospital.sexlimit}}</td>
              <td>{{icdhospital.efficacylimit}}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
            总共{{icdHospitaltotalnumber}}条记录
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="7">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      </div>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="手术编码" >
    <ng-template pTemplate="content">
      <p-toolbar >
        <div class="ui-toolbar-group-left">
        <button pButton type="button" icon="fa-download" label="下载excel模板" (click)="downloadicdoper()"></button>
         &nbsp;&nbsp;
        匹配条件：<p-multiSelect [options]="icdoperCondition" [(ngModel)]="selectedIcdoper" defaultLabel="请选择" multiple="multiple" [style]="{width:'250px'}"></p-multiSelect>

          <!-- 手术编码：<input type="text" pInputText [(ngModel)]="icdoper.cmcode">
          &nbsp;&nbsp;
          手术名称：<input type="text" pInputText [(ngModel)]="icdoper.cmname"> -->
          <button pButton type="button" icon="fa-search" label="按条件匹配" (click)="loadicdoperListChooseMatch()" ></button>
          <button pButton type="button" icon="fa-check" label="保存匹配关系" (click)="saveIcdoperMatingRelations()" ></button>
        </div>
        <div class="ui-toolbar-group-right">
          <!-- <span class="ui-inputgroup-addon" ><i class="fa fa-search"></i></span> -->
          匹配情况：
          <p-dropdown [options]="icdopermatingCondition" [(ngModel)]="select" [style]="{'width':'100px'}" filter="true"></p-dropdown>
          <button pButton type="button" icon="fa-search" label="查询" (click)="loadicdoperListMatch()"></button>
        </div>
      </p-toolbar>
      <p-fileUpload name="file"  maxFileSize="20480" chooseLabel="导入文件" uploadLabel="上传"
                    (onUpload)="onUpload($event)" (onProgress)="onProgress()" (onError)="onError($event)"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    [showUploadButton]="uploadflag"  [showCancelButton]=false
                    url="./api/agent/upload/ssbm"></p-fileUpload>
      <div class="ui-g">
      <div class="ui-g-6">
      <p-toolbar >
          <div style="text-align: center">平台手术编码</div>
          </p-toolbar >
        <p-table [value]="icdoperlist"
                 [rows]="20"
                 [paginator]="true"
                 [pageLinks]="5"
                 [dataKey]="cmid"
                 [(selection)]="chosedIcdoper"
                 (onRowSelect)="onRowSelect1($event)"
                 [lazy]="true"
                 [autoLayout]=true
                 [totalRecords]="icdopertotalnumber"
                 (onLazyLoad)="loadicdoperList($event)"
                 selectionMode="single">
          <!--[rowsPerPageOptions]="[10,15,25]"  [scrollable]="true" scrollHeight="500px"   autoLayout="true" -->
          <ng-template pTemplate="header">
            <tr>
              <th style="width:1.5%">序号</th>
              <th style="width:4%">手术编码</th>
              <th style="width:4%">手术名称</th>
              <th style="width:4%">手术类别</th>
              <th style="width:4%">手术分级</th>
              <th style="width:4%">医院使用级别</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-icdoper let-rowIndex="rowIndex">
            <tr [pSelectableRow]="icdoper">
              <td>{{rowIndex+1}}</td>
              <td>{{icdoper.cmcode}}</td>
              <td>{{icdoper.cmname}}</td>
              <td [ngSwitch]="icdoper.lb">
                <div *ngSwitchCase="1">手术操作</div>
                <div *ngSwitchCase="2">治疗性操作</div>
                <div *ngSwitchCase="3">诊断操作</div>
              </td>
              <td>{{icdoper.operationlevel}}</td>
              <td [ngSwitch]="icdoper.hosplevel">
                <div *ngSwitchCase="1">一级医院</div>
                <div *ngSwitchCase="2">二级医院</div>
                <div *ngSwitchCase="3">三级医院</div>
                <div *ngSwitchCase="4">村卫生室</div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
            总共{{icdopertotalnumber}}条记录
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="7">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>
        <div class="ui-g-6">
        <p-toolbar >
          <div style="text-align: center">医院手术编码</div>
          </p-toolbar >
        <p-table [value]="icdoperhospitallist"
                 [rows]="20"
                 [paginator]="true"
                 [pageLinks]="5"
                 [dataKey]="cmid"
                 [(selection)]="chosedIcdoperHospital"
                 (onRowSelect)="onRowSelect($event)"
                 [lazy]="true"
                 [autoLayout]=true
                 [totalRecords]="icdoperhospitaltotalnumber"
                 (onLazyLoad)="loadicdoperListLazy2($event)"
                 selectionMode="single">
          <!--[rowsPerPageOptions]="[10,15,25]"  [scrollable]="true" scrollHeight="500px"   autoLayout="true" -->
          <ng-template pTemplate="header">
            <tr>
            <!-- <th style="width: 2.25em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
              <th style="width:1.5%">序号</th>
              <th style="width:4%">平台手术编码</th>
              <th style="width:4%">手术编码</th>
              <th style="width:4%">手术名称</th>
              <th style="width:4%">手术类别</th>
              <th style="width:4%">手术分级</th>
              <th style="width:4%">医院使用级别</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-icdoperhospital let-rowIndex="rowIndex">
            <tr [pSelectableRow]="icdoperhospital">
            <!-- <td>
                <p-tableCheckbox [value]="icdoperhospital"></p-tableCheckbox>
            </td> -->
              <td>{{rowIndex+1}}</td>
              <td>{{(icdoperhospital.icdOper||{}).cmcode}}</td>
              <td>{{icdoperhospital.cmcode}}</td>
              <td>{{icdoperhospital.cmname}}</td>
              <td [ngSwitch]="icdoperhospital.lb">
                <div *ngSwitchCase="1">手术操作</div>
                <div *ngSwitchCase="2">治疗性操作</div>
                <div *ngSwitchCase="3">诊断操作</div>
              </td>
              <td>{{icdoperhospital.operationlevel}}</td>
              <td [ngSwitch]="icdoperhospital.hosplevel">
                <div *ngSwitchCase="1">一级医院</div>
                <div *ngSwitchCase="2">二级医院</div>
                <div *ngSwitchCase="3">三级医院</div>
                <div *ngSwitchCase="4">村卫生室</div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
            总共{{icdoperhospitaltotalnumber}}条记录
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="8">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>

      </div>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="医疗服务项目编码" >
    <ng-template pTemplate="content">
      <p-toolbar >
        <div class="ui-toolbar-group-left">
        <button pButton type="button" icon="fa-download" label="下载excel模板" (click)="downloadserver()"></button>
         &nbsp;&nbsp;
        匹配条件：<p-multiSelect [options]="serverCondition" [(ngModel)]="selectedServer" defaultLabel="请选择" multiple="multiple" [style]="{width:'250px'}"></p-multiSelect>
          <button pButton type="button" icon="fa-search" label="按条件匹配" (click)="loadserverListChooseMatch()" ></button>
          <button pButton type="button" icon="fa-check" label="保存匹配关系" (click)="saveServerMatingRelations()" ></button>
        </div>
        <div class="ui-toolbar-group-right">
          <!-- <span class="ui-inputgroup-addon" ><i class="fa fa-search"></i></span> -->
          匹配情况：
          <p-dropdown [options]="servermatingCondition" [(ngModel)]="selectServer" [style]="{'width':'100px'}" filter="true"></p-dropdown>
          <button pButton type="button" icon="fa-search" label="查询" (click)="loadserverListMatch()"></button>
        </div>
      </p-toolbar>
      <p-fileUpload name="file"  maxFileSize="20480" chooseLabel="导入文件" uploadLabel="上传"
                    (onUpload)="onUpload($event)" (onProgress)="onProgress()" (onError)="onError($event)"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    [showUploadButton]="uploadflag"  [showCancelButton]=false
                    url="./api/agent/upload/ylfwbm"></p-fileUpload>
      <div class="ui-g">
      <div class="ui-g-6">
      <p-toolbar >
          <div style="text-align: center">平台医疗服务项目编码</div>
          </p-toolbar >
        <p-table [value]="serverlist"
                 [rows]="20"
                 [paginator]="true"
                 [pageLinks]="5"
                 [dataKey]="serverid"
                 [(selection)]="chosedServer"
                 (onRowSelect)="onRowSelectServer1($event)"
                 [lazy]="true"
                 [autoLayout]=true
                 [totalRecords]="servertotalnumber"
                 (onLazyLoad)="loadserverList($event)"
                 selectionMode="single">
          <ng-template pTemplate="header">
            <tr>
              <th style="width:1.5%">序号</th>
              <th style="width:4%">项目编码</th>
              <th style="width:4%">项目名称</th>
              <th style="width:4%">项目内含</th>
              <th style="width:4%">除外内容</th>
              <th style="width:4%">计价单位</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-server let-rowIndex="rowIndex">
            <tr [pSelectableRow]="server">
              <td>{{rowIndex+1}}</td>
              <td>{{server.servercode}}</td>
              <td>{{server.servername}}</td>
              <td>{{server.content}}</td>
              <td>{{server.excepted}}</td>
              <td>{{server.unit}}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
            总共{{servertotalnumber}}条记录
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="6">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="ui-g-6">
      <p-toolbar >
          <div style="text-align: center">医院医疗服务项目编码</div>
          </p-toolbar >
        <p-table [value]="serverhospitallist"
                 [rows]="20"
                 [paginator]="true"
                 [pageLinks]="5"
                 [dataKey]="serverid"
                 [(selection)]="chosedServerHospital"
                 (onRowSelect)="onRowSelectServer($event)"
                 [lazy]="true"
                 [autoLayout]=true
                 [totalRecords]="serverhospitaltotalnumber"
                 (onLazyLoad)="loadserverListLazy2($event)"
                 selectionMode="single">
          <ng-template pTemplate="header">
            <tr>
            <!-- <th style="width: 2.25em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
              <th style="width:1.5%">序号</th>
              <th style="width:4%">平台项目编码</th>
              <th style="width:4%">项目编码</th>
              <th style="width:4%">项目名称</th>
              <th style="width:4%">项目内含</th>
              <th style="width:4%">除外内容</th>
              <th style="width:4%">计价单位</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-serverhospital let-rowIndex="rowIndex">
            <tr [pSelectableRow]="serverhospital">
            <!-- <td>
                <p-tableCheckbox [value]="serverhospital"></p-tableCheckbox>
            </td> -->
              <td>{{rowIndex+1}}</td>
              <td>{{(serverhospital.server||{}).servercode}}</td>
              <td>{{serverhospital.servercode}}</td>
              <td>{{serverhospital.servername}}</td>
              <td>{{serverhospital.content}}</td>
              <td>{{serverhospital.excepted}}</td>
              <td>{{serverhospital.unit}}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
            总共{{serverhospitaltotalnumber}}条记录
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="8">
                没有数据
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
     </div>

    </ng-template>
  </p-tabPanel>
</p-tabView>


