<p-growl [value]="msgs"></p-growl>
<p-confirmDialog [acceptLabel]="'是'" [rejectLabel]="'否'"></p-confirmDialog>
<div class="ui-g">
    <p-panel>
      <p-header ngClass="n">
      </p-header>
      <div class="ui-inputgroup" style="margin-left: 80%;height: 30px" >
        <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
        <input type="text"  style="width: 200px"
               pInputText placeholder="请输入IP地址进行查询" [(ngModel)]="searchconditonip" >
        <button  pButton type="button" style="width: 60px;"  class="ui-button-info" (click)="searchlistbycondition()" label="查询"></button>
      </div>
      <p-dataTable [value]="modifytableinfoexceptions"
                   selectionMode="single"
                   [lazy]="true"
                   [rows]="params.pageSize"
                   [paginator]="true"
                   [pageLinks]="5"
                   [rowsPerPageOptions]="[10,20,30]"
                   [totalRecords]="params.totalRecords"
                   (onLazyLoad)="loadLazy($event)"
                   [emptyMessage]="'没有数据'"
                    >
        <p-column header="序号" [style]="{'width':'50px'}">
          <ng-template let-rowData="rowData" pTemplate="body" let-rowIndex="rowIndex">
            <p>{{rowIndex+1}}</p>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'5%'}" field="ip" header="IP地址"></p-column>
        <p-column [style]="{'width':'3%'}" field="port" header="端口号"></p-column>
        <p-column [style]="{'width':'4%'}" field="dbType" header="数据库类型"></p-column>
        <p-column [style]="{'width':'3%'}" field="accessType" header="访问方式"></p-column>
        <p-column [style]="{'width':'3%'}" field="dbName" header="数据库名"></p-column>
        <p-column [style]="{'width':'20%'}" field="modifySql" header="报错sql"></p-column>
        <p-column [style]="{'width':'50%'}" field="exceptionDetail" header="错误详情"></p-column>
        <p-column [style]="{'width':'8%'}" field="createTime" header="产生时间"></p-column>
      </p-dataTable>
    </p-panel>
</div>
