:host >>> .ui-card-body {
  height: 800px;
}
:host >>> .ui-table .ui-table-tbody > tr > td {
  text-align:left;
  white-space: nowrap;
}

:host >>> .ui-tabview .ui-tabview-nav {
  background:#1976d2;
}
